.square {
    border-radius: 5px;
}

.jumbotron {
    background-image: linear-gradient(to right, #007bff, #000);
    color: rgb(252, 248, 248);
    margin: 5px;
    padding: 5px;
}

.bcss {
    width: 100%;

}

.menu {
    justify-content: center;
    padding: auto;
    margin: auto;
    background-image: linear-gradient(90deg, rgb(179, 224, 203), rgb(6, 138, 76));
    color: rgb(21, 37, 180);
    border-radius: 5px;
}

.logout {
    justify-content: right;
    padding: auto;
    margin: auto;
    background-image: linear-gradient(90deg, rgb(179, 224, 203), rgb(6, 138, 76));
    color: rgb(21, 37, 180);
    border-radius: 5px;
}

